<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="suit name">
        <classes>
            <!--<class name="testcase.TestCase01">
            </class>
            <class name="testcase.TestCase02">
            </class>-->
            <!--<class name="testcase.NodoSignup">
            </class>-->
            <class name="testcase.NodooSignin">
            </class>
        </classes>
    </test>
</suite>