<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="none">
    <parameter name="Search" value="automation test"/>
    <parameter name="expTitleWishListPage" value="Demo Web Shop. Wishlist"/>
    <parameter name="expTitleShoppingCartPage" value="Demo Web Shop. Shopping Cart"/>

    <test verbose="0" name="chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="demowebshop_Tests.TC001_Seach"/>
        </classes>
    </test>
</suite>

