buildTech=mvn
buildFile=pom.xml
dockerFile=.ci/Dockerfile
buildContainer=huyntt/jenkins-agent
dockerBuildContainer=huyntt/jenkins-agent
mvnSettingsXML=defaultMVNSettings
nexusRepositoryId=demo-springboot
email: support@devopsify.co
createRelease=false
releaseBranch=master
BuildStep1 = mvn clean package
TestStep = echo "Test command here"
UploadWebApp = echo "Upload WebApp here"
createImage=true
runJobs=false
runJobsList= Demos/DevOpsify/demo-testpipeline/master
Demos/DevOpsify/demo-testpipeline/masterWait = false
#Demos/testJob1Param1 = string, stringParam, This is from buildOption string
#Demos/testJob1Param2 = booleanParam, booleanParam, false
#Demos/testJob1Wait = false
scanSonarqube=false
sonarProjectKey=automation-selenium-practice-01